@import url(./reset.css);

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.banner {
    background-image:
    linear-gradient(180deg, rgba(49, 168, 221, 0.1), rgba(0, 0, 0, 0.6) 100%),
    url('./assets/images/banner.png');
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 605px;
    border-bottom: 1px solid rgba(51, 168, 219, 1);
    width: 100%;
}  

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 510px;
    margin: auto;
}

h1 {
  font-size: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
  background-clip: text;
  color: black;
  margin-bottom: 20px;
  text-transform: uppercase;
}

h2 {
  font-size: 32px;
  color: rgba(51, 168, 219, 1);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 4px;
  line-height: 100%;
}

.logo {
  width: 268px;
  height: 268px;
}

p {
  color: white;
  font-size: 20px;
  font-weight: 400;
  text-align: justify;
}

button {
  margin-top: 31px;
  padding: 19px 91px;
  border: 2px solid linear-gradient ();
  border: 2px solid;
  border-image-source: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
  border-image-slice: 1;
  background: transparent;
  color: rgba(49, 168, 221, 1);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

main {
  background-color: black;
}

#course-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 792px;
    height: 605px;
    margin: auto;
}

#course-content p {
  text-align: center;
}

.module {
  color: white;
}

span {
  
}